body{
    margin: 0px;
    font-style: roboto;
    display: flex;
    flex-direction: column;
}

.top{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header{
    gap: 450px;
    display: flex;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style: none;
    gap: 15px;
    margin-top: 20px;
    display: flex;
}

.first{
    gap: 100px;
    align-items: center;
    display: flex;
}

.first-container{
    padding-bottom: 100px;
    width: 470px;
}

.first-header{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first-header-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

